<header class="bg-gray-200 text-black p-4 top-0 left-0 w-full z-10 border-b-2 border-gray-200">
  <div class="flex items-center justify-between">
    <div class="text-xl font-bold">Employee Attendance System</div>
    <div class="flex items-center space-x-4">
        <img src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg" alt="Profile" class="w-8 h-8 rounded-full object-cover">
        <span class="font-medium">{{ userName }}</span>
      <!-- Logout button -->
      <button (click)="logout()" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 cursor-pointer">
        Logout
      </button>
    </div>
  </div>
</header>
