<div class="p-6">
    <app-emp-dashboard-cards></app-emp-dashboard-cards>
  
    <!-- Attendance Overview -->
    <h2 class="text-2xl font-semibold mb-4">Attendance Overview</h2>
    <app-attendance-overview
    [presentCount]="presentCount"
  [absentCount]="absentCount"
  [leaveCount]="leaveCount">></app-attendance-overview>

    <h2 class="text-2xl font-semibold mb-4">Recent Activity</h2>
    <app-attendance-table
    (statsUpdated)="onStatsUpdated($event)"></app-attendance-table>
  
  </div>
  