<div class="p-6">
<div class="bg-white p-4 rounded-lg shadow-md min-w-sm flex items-center justify-between mb-4">
  <select class="border p-2 rounded-lg" (change)="onFilterChange($event)">
    <option value="7">Last 7 days</option>
    <option value="30">Last 30 days</option>
    <option value="all">All Time</option>
  </select>

  <div>
    <button class="bg-green-300 px-4 py-2 rounded-lg mr-2 cursor-pointer" (click)="exportToExcel(records)">Export to Excel</button>
    <!-- <button class="bg-gray-200 px-4 py-2 rounded-lg" (click)="exportToPDF(records)">🖨️ Print</button> -->
  </div>
</div>
</div>
