<div class="relative overflow-x-auto rounded-lg shadow-md bg-white dark:bg-gray-800">
  <table class="w-full min-w-md text-base text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="bg-blue-50 text-gray-800 dark:bg-gray-700 dark:text-white text-lg">
      <tr>
        <th scope="col" class="px-6 py-4 font-semibold tracking-wide border-b border-gray-200">Date</th>
        <th scope="col" class="px-6 py-4 font-semibold tracking-wide border-b border-gray-200">Check In</th>
        <th scope="col" class="px-6 py-4 font-semibold tracking-wide border-b border-gray-200">Check Out</th>
        <th scope="col" class="px-6 py-4 font-semibold tracking-wide border-b border-gray-200">Duration</th>
        <th scope="col" class="px-6 py-4 font-semibold tracking-wide border-b border-gray-200">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let record of attendanceRecords" 
        class="bg-white border-b text-black dark:bg-gray-100 dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-200"
      >
        <td class="px-6 py-4 font-medium whitespace-nowrap dark:text-black">{{ record.date }}</td>
        <td class="px-6 py-4">{{ record.checkIn }}</td>
        <td class="px-6 py-4">{{ record.checkOut }}</td>
        <td class="px-6 py-4">{{ record.duration }}</td>
        <td class="px-6 py-4">
          <span 
            class="px-2 py-1 rounded-full font-medium"
            [ngClass]="getStatusClass(record.status)"
          >
            {{ record.status }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
