<h2 mat-dialog-title class="text-3xl font-bold text-center mb-4">{{ data.policy.policyType }}</h2>

<mat-dialog-content>
  <div class="flex justify-center ">
    <div class="w-full max-w-[1050px] min-w-[1050px] px-16 py-12 min-h-[1100px] bg-white p-8 rounded-md shadow-md overflow-y-auto overflow-x-hidden text-gray-800 leading-relaxed  break-words">
    <div class="text-justify text-lg whitespace-normal [&>h1]:text-3xl [&>h2]:text-2xl [&>h3]:text-xl [&>h4]:text-xl [&>h5]:text-lg [&>h6]:text-base
                     [&>p]:mb-4 [&>ul]:list-disc [&>ul]:pl-8 [&>ol]:list-decimal [&>ol]:pl-8
                     [&>blockquote]:pl-4 [&>blockquote]:border-l-4 [&>blockquote]:border-gray-400
                     [&>li]:mb-2 overflow-x-hidden break-words" 
                     [innerHTML]="data.policy.content">
    </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
